body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:398px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:125px;
  width:219px;
  height:25px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:240px;
  width:84px;
  height:25px;
}
#u1_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:171px;
  width:219px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:206px;
  width:100px;
  height:16px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:206px;
  width:100px;
  height:16px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:206px;
  width:100px;
  height:16px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:129px;
  width:30px;
  height:18px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:175px;
  width:30px;
  height:18px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:72px;
  width:111px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:68px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:265px;
  width:5px;
  height:53px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:19px;
  background:inherit;
  background-color:rgba(102, 255, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:318px;
  width:86px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
